.input {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid white;
    background: #7F00FF;
    color: white;
    min-width: 12em;
}

.input:focus {
    outline: none;
}

.input__label {
    font-size: 13px;
    padding-left: 3px;
}