.NewPost__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.NewPost {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
}

.NewPost__switch-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1em;
}

.NewPost__button-image {
    align-self: center;
    width: 15px;
    height: 15px;
}

.NewPost__options {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid white;
    min-height: 25px;
    width: 100%;
}

.NewPost__options button,
.NewPost__options-button
{
    min-width: 8em;
    border-radius: 15px;
    background: #7F00FF;
    border: 1px solid white;
    color: white;
    padding: 5px;
    margin-bottom: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.NewPost__textarea-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.NewPost__textarea {
    padding: 10px;
    color: #7F00FF;
    width: 100%;    
    resize: none;
    border: none;
    border-radius: 12px;
    height: 400px;
}

.NewPost__preview {
    text-align: left; 
    height: 400px;
    border: 1px solid white;
    border-radius: 12px;
    padding: 10px;
    overflow-y: scroll;
}

.NewPost__textarea:focus {
    outline: #7F00FF;
}

.NewPost__button {
    width: 12em;
    border-radius: 15px;
    background: #7F00FF;
    border: 1px solid white;
    color: white;
    padding: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.NewPost__button:hover {
    color: #7F00FF;
    background: white;
}

.NewPost__switch {
    display: flex;
    gap: 10px;
    position: relative;
}

.NewPost__switch-button {
    text-align: center;
    padding: 5px;
    width: 8em;
    color: white;
    background: transparent;
    border: 1px solid white;
    border-bottom: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    cursor: pointer;
}

@media (min-width: 601px) {
    .NewPost {
        width: 65vw !important;
    }
}

@media (max-width: 600px) {
    .NewPost {
        width: 90vw !important;
    }
}

@media (max-width: 400px) {
    .NewPost__switch button {
        width: 6em !important;
    }
}