.siteBar {
    display: block;
    overflow: hidden;
    position: fixed;
    padding: 5px;
    width: 100%;
    background-color: #7F00FF;
}

.hidden {
    visibility: hidden;
}

.siteBar__top {
    left: 0;
    top: 0;
    padding: 2px;
    border-bottom: 2px solid white !important;
}

.siteBar__bottom {
    border-top: 2px solid white;
    bottom: 0;
    padding-bottom: 18px;
}

.siteBar__disabledLink {
    pointer-events: none;

}

.siteBar__linkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.siteBar__link {
    color: white;
    text-decoration: none;
}