.siteBar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    height: 45px;
    background-color: #7F00FF;
    
    z-index: 100;
    position: fixed;
    min-width: 100vw;
}

.hidden {
    visibility: hidden;
}

.siteBar__top {
    left: 0;
    top: 0;
    border-bottom: 2px solid white;
}

.siteBar_bottom {
    border-top: 2px solid white;
    left: 0;
    bottom: 0;
}

.siteBar__disabledLink {
    pointer-events: none;

}

.siteBar__linkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.siteBar__link {
    color: white;
    text-decoration: none;
}