@font-face {
    font-family: headingFont;
    src: url(Pacifico-Regular.ttf);
}

@font-face {
    font-family: bodyFont;
    src: url(Body.ttf);
}

body {
    font-family: bodyFont;
    background-color: #7F00FF;
    color: white;
    margin:0px;
    margin-top:10px;
    padding: 0px;
    min-height: 100vh;
}

nav {
    font-family: headingFont;
}